<%= semantic_form_for @sale do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.input :amount %>
    <%= f.input :amount_type, :as => :select, :collection => [["$", Sale::AMOUNT_TYPES[0]], ["%", Sale::AMOUNT_TYPES[1]]], :include_blank => false %>
    <div style="display:none">
      <%= f.input :products %>
    </div>
  <% end %>
  <%= f.buttons %>
<% end %>

<div class="grid12 lone no_margin">
  <h3 style="float:left" id="product_counter">
    <%= pluralize_with_tags @selected_products.count, "Product" %> on Sale
  </h3>
  <p class="select_all">
    <%= link_to "Select All", "#", :id=>"select_all_products" %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Deselect All", "#", :id=>"deselect_all_products" %>
  </p>
</div>

<div id="products" class="grid12 right_margin lone">
  <% @products.each_with_index do |product, i| %>
    <%= div_for product, :class=> "grid4 textured_box #{"selected" if (@selected_products.include? product.id)}", "data-id"=>product.id do %>
      <div class="table">
        <div class="cell">
          <%= image_tag "http://static.shopify.com/s/files/1/0083/9432/products/calendar_thumb.jpg", :class => "thumb" %> 
        </div>
      </div>
        <%= content_tag :h3, product.title %>
    <% end %>
  <% end %>
</div>

<% content_for(:jquery) do %>
  $(".product").click(function(){
    //(Un)check the hidden input
    var id = $(this).attr("data-id");
    var field = $("#sale_product_ids option[value=\""+id+"\"]");
    if (field.prop("selected")){ 
      field.removeAttr("selected");
    }else{
      field.attr("selected", "selected");
    }
    
    
    //Style and text stuff
    var s = parseInt($("#product_counter .plural_count").html());
    
    $(this).hasClass("selected") ? s -= 1 : s += 1;
    
    $("#product_counter .plural_count").html(s);
    
    $("#product_counter .plural_s").html((s == 1) ? "" : "s")
    
    $(this).toggleClass("selected");
  });
  
  $("#select_all_products").click(function(){
    //Select all
    $("#sale_product_ids option").each(function(){$(this).attr("selected", "selected")})
    
    //Words
    $(".product").addClass("selected");
    $("#product_counter .plural_count").html($(".product").size());
    $("#product_counter .plural_s").html("s");
    return false;
  });
  $("#deselect_all_products").click(function(){
    //Unselect all
    $("#sale_product_ids option").each(function(){$(this).removeAttr("selected");})
    
    //Words
    $(".product").removeClass("selected");
    $("#product_counter .plural_count").html(0);
    $("#product_counter .plural_s").html("s");
    return false;
  });
<% end %>