<%= semantic_form_for @sale do |f| %>
  <%= f.error_messages %>
  <%= f.inputs do %>
    <%= f.input :name %>
    <%= f.input :starts_at %>
    <%= f.input :ends_at %>
    <%= f.input :amount %>
    <%= f.input :amount_type, :as => :select, :collection => [["$", Sale::AMOUNT_TYPES[0]], ["%", Sale::AMOUNT_TYPES[1]]], :include_blank => false %>
  <% end %>
  <%= f.buttons %>
<% end %>

<div class="grid12 lone">
  <h3 style="float:left">
    <span id="product_selected_count">
      0
    </span>
    Product<span id="product_plural">s</span> on Sale
  </h3>
  <p class="select_all">
    <%= link_to "Select All", "#", :id=>"select_all_products" %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= link_to "Deselect All", "#", :id=>"deselect_all_products" %>
  </p>
</div>

<div id="products" class="grid12 lone">
  <% @products.each_with_index do |product, i| %>
    <%= div_for product, :class=> "grid4 textured_box #{"first" if i%3 == 0} #{"last" if (i+1)%3 == 0}" do %>
      <div class="table">
      <div class="cell">
        <%= image_tag "http://static.shopify.com/s/files/1/0083/9432/products/calendar_thumb.jpg", :class => "thumb" %> 
      </div>
      </div>
        <%= content_tag :h3, product.title %>
    <% end %>
  <% end %>
</div>

<% content_for(:jquery) do %>
  $(".product").click(function(){
    
    var s = parseInt($("#product_selected_count").html());
    
    $(this).hasClass("selected") ? s -= 1 : s += 1;
    
    $("#product_selected_count").html(s);
    
    (s == 1) ? $("#product_plural").html("") : $("#product_plural").html("s")
    
    $(this).toggleClass("selected");
  });
  
  $("#select_all_products").click(function(){
    $(".product").addClass("selected");
    $("#product_selected_count").html($(".product").size());
    $("#product_plural").html("s");
  });
  $("#deselect_all_products").click(function(){
    $(".product").removeClass("selected");
    $("#product_selected_count").html(0);
    $("#product_plural").html("s");
  });
<% end %>