<% title "Sales" %>

<% for sale in @sales %>
  <div class="grid12 lone">
    <%= content_tag :h3, (link_to sale.name, sale) %>
  </div>
  <div class="grid12 lone">
    <%= content_tag :strong, (pretty_amount sale)  %>
    Starts at <%= content_tag :strong, (pretty_date sale.starts_at) %>, ends at <%= content_tag :strong, (pretty_date sale.ends_at) %>
  </div>
<% end %>

<p><%= link_to "New Sale", new_sale_path %></p>
